.comment
  .user
    = image_tag comment.user.avatar.url(:large)
    %h3
      = link_to comment.user.nickname, user_path(comment.user), :class => 'pjax'
  .body
    = comment.body.gsub(/\n/, "<br/>").html_safe
  .minor
    %span.timeago{:title => comment.created_at.to_time.iso8601}
    -# The above JS timeago is refreshed by the inline js in the link/show.html
