.comment
  .user
    = image_tag comment.user.avatar.url(:large)
    %h3
      = link_to comment.user.nickname, user_path(comment.user), :class => 'pjax'
  .body
    = comment.body.gsub(/\n/, "<br/>").html_safe
  .minor #{distance_of_time_in_words_to_now(comment.created_at)} ago
