= image_tag current_user.image
= form_for(Comment.new, :url => link_comments_path(@link), :remote => true, :id => 'new-comment-form') do |f|
  %fieldset
    #errors{:style => 'display:none'}
    %div
      = f.text_area :body, :rows => 4, :id => "comment-body-textarea", :placeholder => "Add a comment"
    .form-controls
      = f.submit :class => 'btn btn-primary', :value => "Add comment", :id => 'comment-submit', :style => 'display:none;'
