%h1 I want to share links
%p
  Drag the link below to your bookmark bar.
%p
  %a.btn.btn-primary(href="javascript:location.href='#{links_add_url}?url='+encodeURIComponent(document.location.href)+'&title='+encodeURIComponent(document.title);")Share on linksapp
