// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "elements";

body {
    padding-top: 50px;
    /* background-color: #ECEDE7; */
    background-image: url("bg.png");
}


/* .navbar-inner { */
/*     width: 920px; */
/*     margin: 0 auto; */
/*     padding-left: 10px; */
/*     padding-right: 10px; */
/*     .rounded(5px); */
/* } */
/*  */

.link {
    .drop-shadow(0, 1px, 2px, 0.2);
    .rounded(5px);
    margin-bottom:10px;
    background-color: #fff;
    overflow:auto;

    .inner {
        margin: 10px;

        iframe {
            margin: 10px;
        }
    }

}

.link-preview {
    .drop-shadow(0, 1px, 2px, 0.2);
    .rounded(5px);
    margin-bottom:20px;
    height: 200px;

    background-color: #fff;

    .inner {
        margin: 10px;

        .title {
            height: 140px;
            h3 {
                line-height: 33px;
                font-size:22px;
            }

            .video {
                img {
                    opacity: 1.0;
                    .transition-duration(0.4s);
                }


                h3 a {
                  position: absolute;
                  z-index: 8;
                  /* color: #ffffff; */
                  /* text-shadow: #000000 1px 1px 0px; */
                  width: 250px;
                  /* height: 150px; */
                  opacity: 0;
                  .transition-duration(0.4s);
                }
            }

        }

        .title:hover {
            .transition-duration(0.4s);

            .video {
                img {
                    opacity: 0.3;
                }

                h3 a {
                  opacity: 1.0;
                  text-decoration:none;
                }
            }
        }
    }
}

#comments {
    margin-top:20px;

}

#new-comment-form {
    img {
        float:left;
    }

    form {
        width:80%;
        margin-left:58px;
        /* background-color: #aaaaff; */

        textarea {
            width:100%;
        }

    }
}


.comment {
    /* background-color: #d5d5d5; */
    overflow:auto;
    margin-bottom:10px;

    .user {
        /* height:48px; */
        /* background-color: #ff0; */

        h3 {
            margin-left: 58px;
        }

        img {
            float:left;
        }

    }

    .body {
        margin: 5px 10px 5px 58px;
        /* background-color: #00ee00; */
        font-size: 16px;
        line-height:24px;
        text-align:justify;
    }

    .minor {
        margin-left: 58px;
    }
}

img.small {
    height: 15px;
    width: 15px;
}

.minor {
    color: #777;
    /* font-size:12px; */
}


@media (max-width: 768px) {
    .link.preview {
       background-color: #ddffdd;
    }
    body {
        padding-top: 0;
    }
}
