// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "elements";

body {
    /* padding-top: 50px; */
    /* background-color: #d5d5d5; */
    background-image: url("bg.png");
}

/* body > .container { */
/*     background-color: #ccffcc; */
/* } */


/* .navbar-inner { */
/*     width: 920px; */
/*     margin: 0 auto; */
/*     padding-left: 10px; */
/*     padding-right: 10px; */
/*     .rounded(5px); */
/* } */
/*  */

.hero-unit {
    .drop-shadow(0, 1px, 2px, 0.2);
}

.btn-twitter {
    img {
        vertical-align:top;
    }
}

form.signin {
    .drop-shadow(0, 1px, 2px, 0.2);
    .rounded(5px);
    background-color: #fff;
    padding: 10px;
}

.link {
    .drop-shadow(0, 1px, 2px, 0.2);
    .rounded(5px);
    background-color: #fff;
    margin-bottom:10px;
    overflow:auto;

    .inner {
        margin: 10px;

        iframe {
            margin: 10px;
        }
    }

}

.preview {
    .drop-shadow(0, 1px, 2px, 0.2);
    .rounded(5px);
    background-color: #fff;
    padding:10px;

    margin-bottom:10px;
    line-height:20px;
    overflow:auto;

    .details {
        float:left;
        &.media {
            max-width:70%;
        }
    }

    img.media {
        max-width:30%;
        float:right;
        .rounded(5px);
    }

    .likes {
        /* background-color:blue; */
        /* float:left; */
        /* float:right; */
        .opacity(0.3);
    }
}

.user {
    margin-top:40px;
    .drop-shadow(0, 1px, 2px, 0.2);
    .rounded(5px);
    background-color: #fff;
    padding:10px;
    margin-bottom: 10px;
}

.stats {
    .drop-shadow(0, 1px, 2px, 0.2);
    .rounded(5px);
    background-color: #fff;
    padding:10px;
    margin-bottom: 10px;
}

#comments {
    margin-top:20px;

}

#new-comment-form {
    img {
        float:left;
    }

    form {
        width:80%;
        margin-left:58px;
        /* background-color: #aaaaff; */

        textarea {
            width:100%;
        }

    }
}


.comment {
    /* background-color: #d5d5d5; */
    overflow:auto;
    margin-bottom:10px;

    .user {
        /* height:48px; */
        /* background-color: #ff0; */

        h3 {
            margin-left: 58px;
        }

        img {
            float:left;
        }

    }

    .body {
        margin: 5px 10px 5px 58px;
        /* background-color: #00ee00; */
        font-size: 16px;
        line-height:24px;
        text-align:justify;
    }

    .minor {
        margin-left: 58px;
    }
}

img.small {
    height: 15px;
    width: 15px;
}

.minor {
    color: #777;
    /* font-size:12px; */
}


@media (max-width: 768px) {
    .link.preview {
       background-color: #ddffdd;
    }
    body {
        padding-top: 0;
    }
}
